[submodule "documentation"]
	path = documentation
	url = https://github.com/The-Compass-LCOC/circino-documentation.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/The-Compass-LCOC/circino-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/The-Compass-LCOC/circino-backend.git
